<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <title>Профиль</title>
    <link rel="stylesheet" th:href="@{/css/contacts.css}"/>
</head>


<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <section layout:fragment="body" class="py-5">

        <div class="container px-5 my-5">

        <div class="text-center mb-5">
            <h1 class="fw-bolder">Связь с нами</h1>
        </div>








            <div class="card1">


                <div>

                    <div class="container1">

                        <div>

                            <div class="gym-text">ФИТНЕС КЛУБ GYMSTATS</div>
                            <div class="gym-text2">В НОВОСИБИРСКЕ</div>
                            <div class="address-tag">Адрес:</div>
                            <div class="address-text" >Новосибирск, ул. Зорге, д. 135</div>


                            <div class="tags-container">

                                <button class="card-button">ПЕРСОНАЛЬНЫЕ ТРЕНЕРА</button>
                                <button class="card-button">ГРУППОВЫЕ ЗАНЯТИЯ</button>
                                <button class="card-button">ДЕТСКИЕ СЕКЦИИ</button>
                                <button class="card-button">САУНА</button>
                                <button class="card-button">ФИТНЕС-ТОВАРЫ</button>
                                <button class="card-button">ФИТОБАР</button>
                                <button class="card-button">БАССЕЙН</button>

                            </div>

                        </div>



                        <div class="card2">

                            <div class="contacts-container">
                                <div class="contacts-text">Телеграм-аккаунт:</div>
                                <div class="telegram-contact">@NeVOODOO</div>
                                <div class="contacts-text">Электронный адрес:</div>
                                <div class="telegram-contact">voodoosproject@gmail.com</div>

                            </div>

                            <div class="time-container">

                                <div class="time-text">Часы работы клуба:</div>

                                <div>
                                    <span class="days">Пн-Пт</span>
                                    <span class="time">7:00-24:00</span>
                                </div>


                                <div>
                                    <span class="days">Сб-Вс</span>
                                    <span class="time">9:00-22:00</span>
                                </div>

                            </div>

                        </div>


                    </div>

                    <div class="container2">

                        <a class="button1" th:href="@{/}">
                          Клуб
                        </a>

                        <a class="button1" th:href="@{/tickets}">
                           Абонементы
                        </a>

                        <a class="button1" th:href="@{/users}">
                            Персонал
                        </a>


                    </div>

                </div>


            </div>



        </div>


    </section>

</main>

</body>

</html>
